
.cover {
    background-image: url('./images/earth-1149733_1920.jpg');
    min-height: 50rem;
    color: white;
}

.main-card {
    background-color: transparent!important;
}

.round {
    border-radius: 100%;
}